padding: 2px 2px 2px 5px;
position: absolute;
z-index: 1;
top: -3px;
left: -6px;
}
.tooltip_container:hover .tooltip_text {
visibility: visible;
}
ul.nowrap {
  overflow:auto;
  white-space:nowrap;
}
dl.table dt, dl.function {border: 1px solid #ccc; background-color: #f8f8f8; margin-bottom: 2em; padding-top: 1em; padding-left: 1em}
dl.table dd, dl.function dd {padding-bottom: 1em; margin: 10px 0 0 20px;}
/* dl.table h3, dl.function {font-size: .95em;} */
/* stop sublists from having initial vertical space */
ul ul { margin-top: 0px; }
ol ul { margin-top: 0px; }
ol ol { margin-top: 0px; }
ul ol { margin-top: 0px; }
/* make the target distinct; helps when we're navigating to a function */
a:target + * {
background-color: #FF9;
}
/* styles for prettification of source */
pre .comment { color: #558817; }
pre .constant { color: #a8660d; }
pre .escape { color: #844631; }
pre .keyword { color: #aa5050; font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: #8080ff; }
pre .number { color: #f8660d; }
pre .operator { color: #2239a8; font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }